passenger(assignment2).xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2023/XMLSchema"
	targetNamespace="http://www.Tanafellow.com/passenger"
	xmlns:tns="http://http://www.Tanafellow.com/passenger"
	elementFormDefault="qualified">
	<element name="passenger" type="tns:passenger" />
	<complexType name="passenger">
		<sequence>
			<element name="name" type="string" />
			<element name="dob" type="date" />
			<element name="seatno" type="int" />
			<element name="gender" type="string" />
		</sequence>
	</complexType>

</schema>